*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000000;
    color: #eee;
    font-family: Helvetica;
}

.container {
    max-width: fill-available;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    margin: 0;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center center;
    gap: 2rem;
    margin: auto;
    padding: 0;
    list-style-type: none;
}

.header-nav-list a {
    text-decoration: none;
    color: #eee;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
}

.img-div {
    background-image: url('Iphone.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 60rem;
    margin-top: -6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    z-index: 9000;
    text-align: center;
    color: #fff;
    margin-top: -25rem;
    font-size: 2.5rem;
}

.text h1 {
    font-size: 3.5rem;
    margin-bottom: -2.5rem;
}

.button-34 {
    background: #236bfb;
    border-radius: 999px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 27px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 9px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}
.button-33 {
    background: transparent;
    border-radius: 999px;
    border: 1px solid #236bfb;
    box-sizing: border-box;
    color: #236bfb;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
}

.button-33:hover {
    background: #236bfb;
    color: #fff;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 0.5rem;
    height: 1.5rem;
    cursor: pointer;

}

.hamburger-menu div {
    width: 2rem;
    height: 0.25rem;
    background-color: gray;
    padding: 0.1rem;
}

.icons {
    display: flex;
    gap: 1rem;
}

@media (max-width: 980px) {
    .header-nav-list {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        left: auto;
    }

    .img-div {
        background-image: url('tempsnip.png');
    }

    .text {
        margin-top: -30rem;
        font-size: 1rem;
    }
    
    .text h1 {
        font-size: 2rem;
        margin-bottom: -1.5rem;
        padding: 1rem;
    }

    .button-34 {
        padding: 0.3rem 0.8rem;
        font-size: 0.9rem;
    }

    .button-33 {
        padding: 0.3rem 0.8rem;
        font-size: 1rem;
    }
}